/* ---- Css Reset Start ---- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ---- Css Reset End ---- */















/* ---- Variable Start ---- */
:root {
    --textcolor: #19406a;
    --rubik: 'Rubik', sans-serif;
    --robot: 'Roboto', sans-serif;
    --anerair-bold: 'Anerair-Bold', sans-serif;
    --anerair-black: 'Anerair-Black', sans-serif;
}

/* ---- Variable End ---- */







@font-face {
    font-family: Anerair-Bold;
    src: url('../fonts/Metropolis/Metropolis-Bold.otf');
}

@font-face {
    font-family: Anerair-Black;
    src: url('../fonts/Metropolis/Metropolis-Black.otf');
}







/* ---- Global Css Start ---- */
/* .container {
    width: 1140px;
} */

a {
    text-decoration: none;
}

/* ---- Global Css End ---- */















/* ---- Header Start ---- */
.navs {
    width: 100%;
    height: 90px;
    background-color: #fff;
}

.navs .container {
    height: 90px;
    margin: auto;
    padding: 0;
}

.navs .container .navbar {
    background-color: #fff;
    height: 90px;
}

.navs .container .navbar .container-fluid {
    /* padding: 0; */
}

.navs .container .collapse {
    text-align: center;
    margin: 8px 0;
}

.navs .container .collapse ul li a {
    color: var(--textcolor);
    padding: 10px 12px;
    font-family: var(--rubik);
    font-weight: 400;
}

.navs .container .collapse ul li .button {

    margin: 0 13px;
    /* padding: 14px 28px; */
}

.navs .container .collapse ul li .button a {
    font-family: var(--rubik);
    font-weight: 500;
    color: white;
    padding: 12px 28px;
    border-radius: 30px;
    background-color: #64c147;
}

.navs .container .collapse ul li a i {
    color: var(--textcolor);
}

/* ---- Header End ---- */















/* ---- Hero Section Start ---- */
/* .hero-section {
    position: relative;
}

.hero {
    overflow: hidden;
    width: 100%;
    height: 441px;
    background-color: #f0f3f4;
}

.hero .container .part1 {
    padding: 0;
}

.hero .container .part1 {
    height: 386px;
    display: flex;
    align-items: center;
}

.hero .container .part1 .text h2 {
    color: var(--textcolor);
    line-height: 40px;
    font-size: 37px;
    font-family: sans-serif;
    font-weight: bold;
}

.hero .container .part1 .text p {
    color: var(--textcolor);
    margin: 30px 0;
    font-size: 19px;
    line-height: 22px;
    font-family: sans-serif;
}

.hero .container .part1 .text .button {
    margin: 54px 0 0 0 ;
}

.hero .container .part1 .text .button a {
    color: #fff;
    background-color: var(--textcolor);
    padding: 16px 30px;
    border-radius: 30px;
    font-size: 18px;
    font-family: var(--rubik);
    font-weight: 500;
}

.hero .container .part2 .image {
    height: 441px;
    position: relative;
}

.hero .container .part2 .image img {
    z-index: 9999;
    position: absolute;
    left: 240px;
}

.hero-section .img-2 img {
    position: absolute;
    left: 515px;
    top: 98px;
} */

/* ---- Hero Section End ---- */















/* ---- Hero Section Start ---- */
.hero {
    width: 100%;
    height: 441px;
    background-color: #f0f3f4;
}

.hero .container .part1 {
    padding: 0;
}

.hero .container .part1 {
    height: 386px;
    display: flex;
    align-items: center;
}

.hero .container .part1 .text h2 {
    color: var(--textcolor);
    line-height: 40px;
    font-size: 37px;
    font-family: sans-serif;
    font-weight: bold;
}

.hero .container .part1 .text p {
    color: var(--textcolor);
    margin: 30px 0;
    font-size: 19px;
    line-height: 22px;
    font-family: sans-serif;
}

.hero .container .part1 .text .button {
    margin: 54px 0 0 0;
}

.hero .container .part1 .text .button a {
    color: #fff;
    background-color: var(--textcolor);
    padding: 16px 30px;
    border-radius: 30px;
    font-size: 18px;
    font-family: var(--rubik);
    font-weight: 500;
}

/* ---- Hero Section End ---- */















/* ---- Get Started Stat ---- */
.get-started {
    height: 363px;
}

.get-started .container .heading {
    margin: 76px 0 0 0;
    padding: 0;
}

.get-started .container .heading h2 {
    color: var(--textcolor);
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
}

.get-started .container .heading p {
    color: var(--textcolor);
    margin: 10px 0;
    font-size: 18px;
    font-family: var(--rubik);
    font-weight: 400;
}

.get-started .container .row .box .card {
    height: 200px;
    display: grid;
    place-items: center;
    border: none;
}

.get-started .container .row .box .card .content {
    display: grid;
    place-items: center;
}

.get-started .container .row .box .card .content .image {
    display: flex;
    justify-content: center;
}

.get-started .container .row .box .card .content .image img {
    margin: 15px 0 0 0;
}

.get-started .container .row .box .card .content p {
    color: var(--textcolor);
    font-size: 18px;
    font-family: var(--rubik);
    font-weight: 500;
    line-height: 25px;
    margin: 16px 0;
    text-align: center;
}

.get-started .container .box-1 .card .content .image {
    margin: 25px 0 0 0;
}

/* ---- Get Started End ---- */















/* ---- Guides Start ---- */
.guides {
    overflow: hidden;
    height: 825px;
    background-color: #eef8fd;
}

.guides .container {
    padding: 0;
}

.guides .container .heading {
    margin: 60px 0 15px 0;
}

.guides .container .heading h4 {
    color: var(--textcolor);
    font-size: 24px;
    text-align: center;
    font-family: var(--anerair-bold);
}

.guides .container .line {
    background-color: #ffba00;
    height: 3px;
    width: 20px;
    margin: auto;
}

.guides .container .planning .text h3 {
    color: var(--textcolor);
    margin: 35px 0;
    text-align: center;
    font-size: 35px;
    font-family: var(--anerair-bold);
}


.guides .container .video-content .part1 .image {
    margin: 80px 0;
}

.guides .container .video-content .part1 .image img {
    padding: 0;
}

.guides .container .video-content .part2 {
    margin: 80px 0;
}

.guides .container .video-content .part2 .text {
    margin: 0 25px;
}

.guides .container .video-content .part2 .text .text1 {
    line-height: 28px;
    margin: 90px 0 0 0;
    font-size: 18px;
    font-family: var(--rubik);
    font-weight: 400;
}

.guides .container .video-content .part2 .text .text2 {
    margin: 50px 0 0 0;
    font-size: 18px;
    font-family: var(--rubik);
    font-weight: 400;
}

.guides .container .video-content .part2 .text .text3 {
    margin: 40px 0 0 0;
    font-size: 18px;
    font-family: var(--rubik);
    font-weight: 400;
}

/* ---- Guides End ---- */





@media (max-width: 991px) {
    .hero .container .part1 {
        text-align: center;
        justify-content: center;
    }

    .hero .container .part2 {
        display: none;
    }

    .guides {
        height: 1000px;
    }

    .guides .container .video-content .part1 {
        height: 350px;
        display: flex;
        justify-content: center;
    }

    .guides .container .video-content .part2 {
        display: flex;
        justify-content: center;
    }

}




@media (max-width: 767px) {
    .get-started {
        height: 770px;
    }
}



@media (max-width: 575px) {
    .get-started {
        height: 1360px;
    }

    .guides .container .video-content {
        /* display: none; */
    }
}