/* ---- Css Reset Start ---- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ---- Css Reset End ---- */















/* ---- Variable Start ---- */
:root {
    --textcolor: #19406a;
    --green: #64c147;
    --rubik: 'Rubik', sans-serif;
    --robot: 'Roboto', sans-serif;
    --anerair-bold: 'Anerair-Bold', sans-serif;
    --anerair-black: 'Anerair-Black', sans-serif;
}

/* ---- Variable End ---- */















/* ---- Font Face Start ---- */
@font-face {
    font-family: Anerair-Bold;
    src: url('../fonts/Metropolis/Metropolis-Bold.otf');
}

@font-face {
    font-family: Anerair-Black;
    src: url('../fonts/Metropolis/Metropolis-Black.otf');
}

/* ---- Font Face End ---- */















/* ---- Global Css Start ---- */
a {
    text-decoration: none;
}

hr {
    margin: 130px 0 0 0;
    color: #eef8fd;
}

input:focus {
    outline: none;
    font-family: var(--rubik);
    font-weight: 400;
    font-size: 16px;
}

::-webkit-scrollbar {
    width: 13px;
    background-color: var(--backcolor);
    border: 4px solid var(--textcolor);
}

::-webkit-scrollbar-thumb {
    background: var(--green);
    border: 2px solid var(--textcolor);
    border-radius: 30px;
}

/* ---- Global Css End ---- */















/* ---- Prelorder Start ---- */
.loader_bg {
    position: fixed;
    z-index: 99999;
    background: white;
    width: 100%;
    height: 100%;
}

.loader {
    border: 0 solid transparent;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: calc(50vh - 75px);
    left: calc(50vw - 75px);
}

.loader::before,
.loader::after {
    content: '';
    border: 1em solid var(--textcolor);
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 2s linear infinite;
    opacity: 0;
}

.loader::before {
    animation-delay: .5s;
}

@keyframes loader {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}

/* ---- Prelorder End ---- */















/* ---- Header Start ---- */
.navs {
    position: relative;
    z-index: 999;
    width: 100%;
    height: 90px;
    background-color: #fff;
}

.navs .container {
    height: 90px;
    padding: 0;
}

.navs .container .navbar {
    background-color: #fff;
    height: 90px;
}

.navs .container .navbar .container-fluid {
    padding: 0;
    border-radius: 15px;
}

.navs .container .collapse {
    transition: all 0.5s ease-in-out;
}

.navs .container .collapse ul li a {
    color: var(--textcolor);
    padding: 10px 12px;
    font-family: var(--rubik);
    font-weight: 400;
}

.navs .container .collapse ul li a:hover {
    color: var(--green);
}

.navs .container .collapse ul li a:hover i {
    color: var(--green);
}

.navs .container .collapse ul .option-button {
    position: relative;
}

.navs .container .collapse ul .option-button img {
    position: absolute;
    right: 5px;
    top: 35px;
}

.navs .container .collapse ul li .button {
    margin: 0 13px;
    /* padding: 14px 28px; */
}

.navs .container .collapse ul li .button a {
    font-family: var(--rubik);
    font-weight: 500;
    color: white;
    padding: 10px 28px;
    border-radius: 30px;
    background-color: #64c147;
    transition: all 0.5s ease-in-out;
}

.navs .container .collapse ul li .button a:hover {
    background-color: var(--textcolor);
    color: #fff;
}



.navs .container .collapse ul li a i {
    color: var(--textcolor);
    transition: all 0.5s ease-in-out;
}

/* ---- Header End ---- */















/* ---- Background Img Start ---- */
.background-img {
    background: url("../images/hero/hero-1.png") no-repeat center 0px;
}

/* ---- Background Img End ---- */





/* ---- Hero Section Start ---- */
.hero {
    width: 100%;
    height: 441px;
    /* background-color: #f0f3f4; */
}

.hero .container .part1 {
    padding: 0;
}

.hero .container .part1 {
    height: 386px;
    display: flex;
    align-items: center;
}

.hero .container .part1 .text h2 {
    color: var(--textcolor);
    line-height: 40px;
    font-size: 37px;
    font-family: sans-serif;
    font-weight: bold;
}

.hero .container .part1 .text p {
    color: var(--textcolor);
    margin: 30px 0;
    font-size: 19px;
    line-height: 22px;
    font-family: sans-serif;
}

.hero .container .part1 .text .button {
    position: relative;
    margin: 54px 0 0 0;
}

.hero .container .part1 .text .button img {
    position: absolute;
    top: 34px;
    left: -10px;
}

.hero .container .part1 .text .button a {
    color: #fff;
    background-color: var(--textcolor);
    padding: 16px 30px;
    border-radius: 30px;
    font-size: 18px;
    font-family: var(--rubik);
    font-weight: 500;
    transition: all 0.5s ease-in-out;
}

.hero .container .part1 .text .button a:hover {
    background-color: var(--green);
}

.hero .container .part2 {
    position: relative;
    z-index: 99999999999999;
    right: 80px;
}

/* ---- Hero Section End ---- */















/* ---- Get Started Stat ---- */
.get-started {
    overflow: hidden;
    height: 363px;
}

.get-started .container .heading {
    margin: 76px 0 0 0;
    padding: 0;
}

.get-started .container .heading h2 {
    color: var(--textcolor);
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
}

.get-started .container .heading p {
    color: var(--textcolor);
    margin: 10px 0;
    font-size: 18px;
    font-family: var(--rubik);
    font-weight: 400;
}

.get-started .container .row .box .card {
    background: transparent;
    height: 200px;
    display: grid;
    place-items: center;
    border: none;
}

.get-started .container .row-icon .card a {
    transition: all 0.5s ease-in-out;
}

.get-started .container .row-icon .card a:hover .content p {
    color: var(--green);
}

.get-started .container .row .box .card .content {
    display: grid;
    place-items: center;
}

.get-started .container .row .box .card .content .image {
    display: flex;
    justify-content: center;
}

.get-started .container .row .box .card .content .image img {
    margin: 15px 0 0 0;
}

.get-started .container .row .box .card .content p {
    color: var(--textcolor);
    font-size: 18px;
    font-family: var(--rubik);
    font-weight: 500;
    line-height: 25px;
    margin: 16px 0;
    text-align: center;
    transition: all 0.5s ease-in-out;
}

.get-started .container .box-1 .card .content .image {
    margin: 25px 0 0 0;
}

/* ---- Get Started End ---- */















/* ---- Guides Start ---- */
.guides {
    overflow: hidden;
    height: 825px;
    background-color: #eef8fd;
    background: #eef8fd url("../images/guides/bg1.png") no-repeat center;
}

.guides .container {
    padding: 0;
}

.guides .container .heading {
    margin: 60px 0 15px 0;
}

.guides .container .heading h4 {
    color: var(--textcolor);
    font-size: 24px;
    text-align: center;
    font-family: var(--anerair-bold);
}

.guides .container .line {
    background-color: #ffba00;
    height: 3px;
    width: 20px;
    margin: auto;
}

.guides .container .planning .text h3 {
    color: var(--textcolor);
    margin: 35px 0;
    text-align: center;
    font-size: 35px;
    font-family: var(--anerair-bold);
}


.guides .container .video-content .part1 .image {
    margin: 40px 0;
}

.guides .container .video-content .part1 .image .toggle {
    position: relative;
    top: -20px;
    left: 480px;
}

.guides .container .video-content .part1 .image img {
    padding: 0;
}

.guides .container .video-content .part2 {
    margin: 80px 0;
}

.guides .container .video-content .part2 .text {
    margin: 0 25px;
}

.guides .container .video-content .part2 .text .text1 {
    color: var(--textcolor);
    line-height: 28px;
    margin: 90px 0 0 0;
    font-size: 18px;
    font-family: var(--rubik);
    font-weight: 400;
}

.guides .container .video-content .part2 .text .text2 {
    color: var(--textcolor);
    margin: 50px 0 0 0;
    font-size: 18px;
    font-family: var(--rubik);
    font-weight: 400;
}

.guides .container .video-content .part2 .text .text3 {
    color: var(--textcolor);
    margin: 40px 0 0 0;
    font-size: 18px;
    font-family: var(--rubik);
    font-weight: 400;
}

/* ---- Guides End ---- */















/* ---- News & Update Start ---- */
.news-update {
    overflow: hidden;
    height: 1478px;
    background-color: #fff;
    background: url("../images/news&update/bg.jpg") no-repeat center;
}

.news-update .container {
    padding: 0;
}

.news-update .container .heading {
    margin: 60px 0 15px 0;
}

.news-update .container .heading h4 {
    color: var(--textcolor);
    font-size: 24px;
    text-align: center;
    font-family: var(--anerair-bold);
}

.news-update .container .line {
    background-color: #ffba00;
    height: 3px;
    width: 20px;
    margin: auto;
}

.news-update .container .part1 {
    margin: 40px 0;
}

.news-update .container .part2 {
    margin: 40px 0;
    padding: 40px 25px;
}

.news-update .container .part2 .text-box .txt1 {
    color: var(--textcolor);
    font-size: 16px;
    font-weight: 500;
    font-family: var(--rubik);
}

.news-update .container .part2 .text-box .txt1 span {
    font-weight: 800;
}

.news-update .container .part2 .text-box h3 {
    margin: 30px 0;
    color: var(--textcolor);
    line-height: 35px;
    font-size: 30px;
    font-family: var(--anerair-bold);
}

.news-update .container .part2 .text-box .txt2 {
    color: #99a4b4;
    line-height: 25px;
    font-size: 18px;
    font-family: var(--rubik);
    font-weight: 400;

}

.news-update .container .part2 .text-box .button {
    margin: 30px 0 0 0;
}

.news-update .container .part2 .text-box .button a {
    color: var(--textcolor);
    font-size: 16px;
    font-family: var(--rubik);
    font-weight: 500;
    transition: all 0.5s ease-in-out;
}

.news-update .container .part2 .text-box .button a:hover {
    color: var(--green);
}

.news-update .img-box .box .image {
    margin: 15px 0;
}

.news-update .img-box .box .text-box .txt1 {
    margin: 26px 0 0 0;
    color: var(--textcolor);
    font-size: 16px;
    font-weight: 400;
    font-family: var(--rubik);
}

.news-update .img-box .box .text-box .txt1 span {
    font-weight: 700;
}

.news-update .img-box .box .text-box h3 {
    margin: 20px 0 25px 0;
    color: var(--textcolor);
    line-height: 30px;
    font-size: 24px;
    font-family: var(--anerair-bold);
}

.news-update .img-box .box .text-box .txt2 {
    color: #99a4b4;
    line-height: 20px;
    font-size: 18px;
    font-family: var(--rubik);
    font-weight: 400;

}

.news-update .img-box .box .text-box .button {
    margin: 25px 0 0 0;
}

.news-update .img-box .box .text-box .button a {
    color: var(--textcolor);
    font-size: 18px;
    font-family: var(--rubik);
    font-weight: 500;
    transition: all 0.5s ease-in-out;
}

.news-update .img-box .box .text-box .button a:hover {
    color: var(--green);
}

.news-update .subscribe .heading {
    margin: 60px 0 15px 0;
}

.news-update .subscribe .heading h4 {
    color: var(--textcolor);
    font-size: 24px;
    text-align: center;
    font-family: var(--anerair-bold);
}

.news-update .subscribe .line {
    background-color: #ffba00;
    height: 3px;
    width: 20px;
    margin: auto;
}

.news-update .subscribe .text p {
    color: var(--textcolor);
    margin: 22px 0 0 0;
    text-align: center;
    font-size: 18px;
    font-family: var(--rubik);
    font-weight: 400;
}

.news-update .subscribe .content {
    display: flex;
    justify-content: center;
}

.news-update .subscribe .content .form {
    display: flex;
}

.news-update .subscribe .content .form .search {
    display: flex;
    margin: 50px 40px 0 0;
    border-radius: 30px;
    box-shadow: 0 4px 12px #00000017;
}

.news-update .subscribe .content .form .search img {
    border: 2px solid #d9e2ec;
    border-right: none;
    background-color: #fff;
    padding: 15px 0 15px 25px;
    border-radius: 30px 0 0 30px;
}

.news-update .subscribe .content .form .search input[type=email] {
    border: 2px solid #d9e2ec;
    border-left: none;
    width: 400px;
    background-color: #fff;
    padding: 15px 15px;
    border-radius: 0 30px 30px 0;
}

.news-update .subscribe .content .form .button button {
    color: #fff;
    background-color: var(--textcolor);
    margin: 50px 0 0 0;
    padding: 18px 30px;
    font-size: 18px;
    font-family: var(--rubik);
    font-weight: 500;
    border: none;
    border-radius: 30px;
    transition: all 0.5s ease-in-out;
}

.news-update .subscribe .content .form .button button:hover {
    background-color: var(--green);
}

/* ---- News & Update End ---- */















/* ---- Recipes Start ---- */
.recipes {
    overflow: hidden;
    height: 633px;
    background-color: #eef8fd;
    background: #eef8fd url("../images/recipes/bg2.png") no-repeat center;
}

.recipes .container .heading {
    margin: 60px 0 15px 0;
}

.recipes .container .heading h4 {
    color: var(--textcolor);
    font-size: 24px;
    text-align: center;
    font-family: var(--anerair-bold);
}

.recipes .container .line {
    background-color: #ffba00;
    height: 3px;
    width: 20px;
    margin: auto;
}

.recipes .container {
    padding: 0;
}

.recipes .container .main-box {
    margin: 40px 0;
}

.recipes .container .main-box .card {
    height: 360px;
    background-color: #fff;
    border: none;
}

.recipes .container .main-box .card .image img {
    width: 100%;
}

.recipes .container .main-box .card .text {
    word-spacing: -1px;
    letter-spacing: 0px;
    padding: 15px 20px;
}

.recipes .container .main-box .card .text .txt1 {
    color: var(--textcolor);
    font-size: 18px;
    font-family: var(--anerair-bold);
    transition: all 0.5s ease-in-out;
}

.recipes .container .main-box a:hover .card .text .txt1 {
    color: var(--green);
}

.recipes .container .main-box .card .text .txt2 {
    color: var(--textcolor);
    margin: 15px 0;
    font-size: 16px;
    font-family: var(--rubik);
    font-weight: 500;
    transition: all 0.5s ease-in-out;
}

.recipes .container .main-box a:hover .card .text .txt2 {
    color: var(--green);
}

.recipes .container .more {
    margin: 15px 0;
    text-align: center;
}

.recipes .container .more a {
    color: var(--textcolor);
    font-size: 16px;
    font-family: var(--rubik);
    font-weight: 500;
    transition: all 0.5s ease-in-out;
}

.recipes .container .more a:hover {
    color: var(--green);
}

/* ---- Recipes End ---- */















/* ---- Star Raiting Start ---- */
.star {
    overflow: hidden;
    height: 422px;
    background-color: #fff;
}

.star .image {
    display: flex;
    justify-content: center;
    margin: 70px 0 0 0;
}

.star .text {
    padding: 40px 180px 0 180px;
}

.star .text p {
    color: var(--textcolor);
    text-align: center;
    line-height: 25px;
    font-size: 18px;
    font-family: var(--rubik);
    font-weight: 400;
}

.star .text h5 {
    color: var(--textcolor);
    margin: 30px 0 0 0;
    text-align: center;
    font-size: 18px;
    font-family: var(--rubik);
    font-weight: 500;
}

.star .icon {
    margin: 15px 0 0 0;
    display: flex;
    justify-content: center;
}

/* ---- Star Raiting End ---- */















/* ---- Take A Quiz Start ---- */
.quiz {
    overflow: hidden;
    height: 743px;
    background-color: #eef8fd;
}

.quiz .container .heading {
    margin: 60px 0 15px 0;
}

.quiz .container .heading h4 {
    color: var(--textcolor);
    font-size: 24px;
    text-align: center;
    font-family: var(--anerair-bold);
}

.quiz .container .line {
    background-color: #ffba00;
    height: 3px;
    width: 20px;
    margin: auto;
}

.quiz .container {
    padding: 0;
}

.quiz .container .row-main {
    margin: 60px 0 0 0;
}

.quiz .container .box1 {
    padding: 0 20px 0 0;
}

.quiz .container .box1 .text {
    width: 100%;
}

.quiz .container .box1 .txt1 h5 {
    text-align: end;
    margin: 65px 0 0 0;
    color: var(--textcolor);
    font-size: 20px;
    font-family: var(--anerair-bold);
}

.quiz .container .box1 .txt1 p {
    margin: 15px 0 0 0;
    line-height: 20px;
    text-align: end;
    color: var(--textcolor);
    font-size: 18px;
    font-family: var(--rubik);
    font-weight: 400;
}

.quiz .container .box1 .txt2 h5 {
    text-align: end;
    margin: 170px 0 0 0;
    color: var(--textcolor);
    font-size: 20px;
    font-family: var(--anerair-bold);
}

.quiz .container .box1 .txt2 p {
    margin: 15px 0 0 0;
    line-height: 20px;
    text-align: end;
    color: var(--textcolor);
    font-size: 18px;
    font-family: var(--rubik);
    font-weight: 400;
}

.quiz .container .box2 .image {
    display: grid;
    justify-content: center;
}

.quiz .container .box3 {
    padding: 0 0px 0 20px;
}

.quiz .container .box3 .text {
    width: 100%;
}

.quiz .container .box3 .txt1 h5 {
    text-align: start;
    margin: 65px 0 0 0;
    color: var(--textcolor);
    font-size: 20px;
    font-family: var(--anerair-bold);
}

.quiz .container .box3 .txt1 p {
    margin: 15px 0 0 0;
    line-height: 20px;
    text-align: start;
    color: var(--textcolor);
    font-size: 18px;
    font-family: var(--rubik);
    font-weight: 400;
}

.quiz .container .box3 .txt2 h5 {
    text-align: start;
    margin: 170px 0 0 0;
    color: var(--textcolor);
    font-size: 20px;
    font-family: var(--anerair-bold);
}

.quiz .container .box3 .txt2 p {
    margin: 15px 0 0 0;
    line-height: 20px;
    text-align: start;
    color: var(--textcolor);
    font-size: 18px;
    font-family: var(--rubik);
    font-weight: 400;
}

.quiz .container .row-button .button {
    margin: 42px 0 0 0;
    display: flex;
    justify-content: center;
}

.quiz .container .row-button .button a {
    padding: 18px 28px;
    border-radius: 30px;
    color: #fff;
    background-color: #64c147;
    font-size: 18px;
    font-family: var(--rubik);
    font-weight: 500;
    transition: all 0.5s ease-in-out;
}

.quiz .container .row-button .button a:hover {
    background-color: var(--textcolor);
}

.quiz .container .row-button .image {
    margin: 5px 0 0 0;
    display: flex;
    justify-content: center;
}

.quiz .container .row-button .image img {
    padding: 0 25px 0 0;
}

/* ---- Take A Quiz End ---- */















/* ---- Footer Start ---- */
footer {
    overflow: hidden;
    height: 459px;
    background-color: #fff;
}

footer .container {
    padding: 0;
}

footer .container .box1 {
    margin: 60px 0 0 0;
}

footer .container .box2 {
    margin: 45px 0 0 0;
}

footer .container .box2 .menu ul li {
    margin: 30px 0;
}

footer .container .box2 .menu ul li .main {
    color: var(--textcolor);
    font-size: 16px;
    font-family: var(--rubik);
    font-weight: 500;
}

footer .container .box2 .menu ul li .main:hover {
    color: var(--textcolor);
}

footer .container .box2 .menu ul li a {
    color: var(--textcolor);
    font-size: 16px;
    font-family: var(--rubik);
    font-weight: 400;
    transition: all 0.5s ease-in-out;
}

footer .container .box2 .menu ul li a:hover {
    color: var(--green);
}

footer .container .box3 {
    margin: 90px 0 0 0;
}

footer .container .box3 .menu2 ul li {
    margin: 30px 0;
}

footer .container .box3 .menu2 ul li .main {
    color: var(--textcolor);
    font-size: 16px;
    font-family: var(--rubik);
    font-weight: 500;
}

footer .container .box3 .menu2 ul li a {
    color: var(--textcolor);
    font-size: 16px;
    font-family: var(--rubik);
    font-weight: 400;
    transition: all 0.5s ease-in-out;
}

footer .container .box3 .menu2 ul li a:hover {
    color: var(--green);
}



footer .container .box4 {
    margin: 75px 0 0 0;
}

footer .container .box4 .text h5 {
    color: var(--textcolor);
    font-size: 16px;
    font-family: var(--rubik);
    font-weight: 500;
}

footer .container .box4 .content .form .search {
    display: flex;
    margin: 26px 0px 0 0;
    border-radius: 30px;
    box-shadow: 0 4px 12px #00000017;
}

footer .container .box4 .content .form .search img {
    border: 2px solid #d9e2ec;
    border-right: none;
    background-color: #fff;
    padding: 12px 0 12px 25px;
    border-radius: 30px 0 0 30px;
}

footer .container .box4 .content .form .search input[type=email] {
    border: 2px solid #d9e2ec;
    border-left: none;
    /* width: 500px; */
    width: 100%;
    background-color: #fff;
    padding: 15px 15px;
    border-radius: 0 30px 30px 0;
}

footer .container .box4 .content .form .button button {
    color: #fff;
    background-color: var(--textcolor);
    margin: 20px 0 0 0;
    padding: 14px 30px;
    font-size: 16px;
    font-family: var(--rubik);
    font-weight: 400;
    border: none;
    border-radius: 30px;
    transition: all 0.5s ease-in-out;
}

footer .container .box4 .content .form .button button:hover {
    background-color: var(--green);
}

footer .container .box4 .icon {
    margin: 40px 0 0 0;
}

footer .container .box4 .icon ul li {
    display: inline-block;
}

footer .container .box4 .icon ul li a {
    color: #bac5d2;
    padding: 0 6px;
}

footer .container .box4 .icon ul li a:hover {
    color: var(--textcolor);
}

footer .container .row-tc .part1 {
    padding: 0;
}

footer .container .row-tc {
    margin: 30px 0;
}

footer .container .row-tc .text {
    margin: 20px 0;
}

footer .container .row-tc .text p {
    color: var(--textcolor);
    font-size: 16px;
    font-family: var(--rubik);
    font-weight: 400;
}

footer .container .row-tc .menu {
    margin: 20px 0;
}

footer .container .row-tc .part2 .menu ul {
    text-align: center;
}

footer .container .row-tc .part2 .menu ul li {
    display: inline-block;
}

footer .container .row-tc .part2 .menu ul li a {
    color: var(--textcolor);
    padding: 0 8px;
    font-size: 16px;
    font-family: var(--rubik);
    font-weight: 400;
    transition: all 0.5s ease-in-out;
}

footer .container .row-tc .part2 .menu ul li a:hover {
    color: var(--green);
}


/* ---- Footer End ---- */















/* ---- Media Start ---- */
@media (min-width: 1400px) {
    .recipes {
        height: 660px;
    }

    .recipes .container .main-box .card {
        height: 390px;
        background-color: #fff;
        border: none;
    }
}


@media (max-width: 1199px) {
    .guides .container .video-content .part1 .image .toggle {
        position: relative;
        top: -20px;
        left: 400px;
    }

    .guides .container .video-content .part2 .text .text1 {
        margin: 40px 0 0 0;
    }

    .news-update .container .part2 {
        padding: 10px 10px;
    }

    .recipes {
        height: 600px;
    }

    .recipes .container .main-box .card {
        height: 320px;
    }

    .star .text {
        padding: 40px 100px 0 100px;
    }

    .quiz .container .row-main .box2 .image {
        transform: scale(0.8);
    }

    .quiz .container .row-main .box1 .txt1 {
        margin: 90px 0 0 0;
    }

    .quiz .container .box1 .txt2 h5 {
        margin: 100px 0 0 0;
    }

    .quiz .container .row-main .box3 .txt1 {
        margin: 90px 0 0 0;
    }

    .quiz .container .box3 .txt2 h5 {
        margin: 120px 0 0 0;
    }

    footer .container .row-tc .part2 .menu ul li a {
        padding: 0 2px;
    }
}


@media (max-width: 991px) {
    .navs .container .collapse {
        margin: 25px 0 10px 0;
    }

    .guides {
        background: #eef8fd;
    }

    .background-img {
        background: none;
    }

    .navs .container .collapse ul .option-button img {
        display: none;
    }

    .navbar-toggler:focus {
        text-decoration: none;
        outline: 0;
        box-shadow: none;
    }

    .hero {
        width: 100%;
        height: 420px;
        background-color: #f0f3f4;
    }

    hr {
        margin: 40px 0 0 0;
    }

    .navs .container {
        padding: 0 15px;
    }

    .hero {
        overflow: hidden;
    }

    .hero .container .part1 {
        text-align: center;
        justify-content: center;
    }

    .hero .container .part2 {
        display: none;
    }

    .hero .container .part1 .text .button img {
        display: none;
    }

    .get-started {
        height: 680px;
    }

    .get-started .container .row .box .card {
        height: 160px;
    }

    .get-started .container .row-icon {
        margin: 20px 0 0 0;
    }

    .guides {
        height: 970px;
    }

    .get-started .container .heading {
        text-align: center;
    }

    .guides .container .video-content .part1 .image .toggle {
        display: none;
    }

    .guides .container .video-content .part1 {
        height: 350px;
        display: flex;
        justify-content: center;
    }

    .guides .container .video-content .part2 {
        display: flex;
        justify-content: center;
    }

    .news-update {
        height: 2760px;
    }

    .news-update .container .part1 {
        display: flex;
        justify-content: center;
    }

    .news-update .container .part2 {
        text-align: center;
        margin: 15px 0;
    }

    .news-update .subscribe .content .form {
        display: block;
        justify-content: center;
    }

    .news-update .subscribe .content .form .button {
        display: flex;
        justify-content: center;
    }

    .news-update .subscribe .content .form .button button {
        margin: 15px auto 0 auto;
    }

    .news-update .container .img-box .box {
        text-align: center;
    }

    .news-update .container .img-box .box .image {
        margin: 40px 0 15px 0;
        display: flex;
        justify-content: center;
    }

    .news-update .subscribe .content .form .search {
        margin: 50px 0 0 0;
    }

    .news-update .subscribe .content {
        transform: scale(1);
    }

    .recipes {
        height: 560px;
    }


    .recipes .container .main-box .card {
        height: 280px;
    }

    .star {
        height: 440px;
    }

    .star .text {
        padding: 40px 50px 0 50px;
    }

    .quiz {
        height: 640px;
    }

    .quiz .container .row-main {
        margin: 0;
    }

    .quiz .container .row-main .box2 .image {
        transform: scale(0.6);
    }

    .quiz .container .row-main .box1 .txt1 {
        margin: 110px 0 0 0;
    }

    .quiz .container .box1 .txt2 h5 {
        margin: 35px 0 0 0;
    }

    .quiz .container .row-main .box3 .txt1 {
        margin: 110px 0 0 0;
    }

    .quiz .container .box3 .txt2 h5 {
        margin: 50px 0 0 0;
    }

    .quiz .container .row-button .image {
        display: none;
    }

    footer {
        height: 800px;
    }

    footer .container .box1 {
        display: flex;
        justify-content: center;
    }

    footer .container .row-tc .menu {
        margin: 0;
    }

    footer .container .row-tc .text p {
        text-align: center;
    }

    footer .container .box4 .text h5 {
        text-align: center;
    }

    footer .container .box4 .content .form .button {
        display: flex;
        justify-content: center;
    }

    footer .container .box4 .icon {
        text-align: center;
    }
}




@media (max-width: 767px) {
    .guides .container .video-content .part1 {
        height: 300px;
    }

    .get-started {
        height: 680px;
    }

    .get-started .container .row .box .card {
        height: 160px;
    }

    .guides .container .video-content .part2 {
        margin: 100px 0 0 0;
    }

    .news-update {
        height: 2825px;
    }

    .news-update .subscribe .content {
        transform: scale(0.8);
    }

    .recipes {
        height: 1330px;
    }

    .recipes .container .row-heading {
        margin: 0 0 30px 0;
    }

    .recipes .container .main-box {
        margin: 20px 0;
    }

    .recipes .container .main-box .card {
        background-color: #eef8fd;
        height: 320px;
    }

    .recipes .container .main-box .card .image {
        display: flex;
        justify-content: center;
    }

    .recipes .container .main-box .card .image img {
        width: auto;
    }

    .recipes .container .main-box .card .text {
        text-align: center;
    }

    .star .text {
        padding: 40px 0px 0 0px;
    }



    .quiz {
        height: 1040px;
    }

    .quiz .container .row-main .box1 {
        padding: 0;
        margin: 50px 0 0 0;
    }

    .quiz .container .row-main .box1 .txt1 {
        margin: 0px 0 0 0;
    }

    .quiz .container .box1 .txt1 h5 {
        text-align: center;
        margin: 0;
    }

    .quiz .container .box1 .txt1 p {
        text-align: center;
    }

    .quiz .container .box1 .txt2 h5 {
        text-align: center;
    }

    .quiz .container .box1 .txt2 p {
        text-align: center;
    }




    .quiz .container .row-main .box3 {
        padding: 0;
    }

    .quiz .container .row-main .box3 .txt1 {
        margin: 0px 0 0 0;
    }

    .quiz .container .box3 .txt1 h5 {
        text-align: center;
        margin: 0;
    }

    .quiz .container .box3 .txt1 p {
        text-align: center;
    }

    .quiz .container .box3 .txt2 h5 {
        text-align: center;
    }

    .quiz .container .box3 .txt2 p {
        text-align: center;
    }

    footer {
        height: 800px;
    }

    footer .container .box4 .content .form {
        padding: 0 20px;
    }

    footer .container .box2 .menu {
        text-align: center;
    }


    footer .container .box3 {
        margin: 70px 0 0 0;
        text-align: center;
    }

    footer .container .box4 .text h5 {
        text-align: center;
    }

    footer .container .box4 .content .form .button {
        display: flex;
        justify-content: center;
    }

    footer .container .box4 .icon {
        text-align: center;
    }

}



@media (max-width: 575px) {
    .hero .container .part1 .text h2 {
        padding: 0 20px;
        font-size: 30px;
    }

    .hero .container .part1 .text p {
        padding: 0 20px;
    }

    .get-started {
        height: 1110px;
    }

    .get-started .container .row-icon {
        margin: 0px 0 0 0;
    }

    .news-update .subscribe .content {
        transform: scale(0.8);
    }

    .get-started .container .row .box .card {
        height: 150px;
    }

    .guides {
        height: 900px;
    }

    .guides .container .planning .text h3 {
        font-size: 30px;
        margin: 30px 0 0 0;
    }

    .guides .container .video-content .part1 .image img {
        padding: 0 20px;
    }

    .news-update .container .part1 .image {
        padding: 0 20px;
    }

    .news-update .container .part2 .text-box .txt2 {
        padding: 0 20px;
    }

    .news-update .img-box .box .text-box .txt2 {
        padding: 0 20px;
    }

    .news-update .subscribe .heading h4 {
        padding: 0 20px;
    }

    .news-update .subscribe .text p {
        padding: 0 20px;
    }

    .star .text p {
        padding: 0 20px;
    }

    .quiz .container .box1 .txt1 p {
        padding: 0 20px;
    }

    .quiz .container .box1 .txt2 p {
        padding: 0 20px;
    }

    .quiz .container .box3 .txt1 p {
        padding: 0 20px;
    }

    .quiz .container .box3 .txt2 p {
        padding: 0 20px;
    }

    footer {
        height: 1100px;
    }

    footer .container .row-tc .part2 .menu ul {
        padding: 0 20px;
    }

    footer .container .box3 {
        margin: 0 0 0 0;
        text-align: center;
    }

    footer .container .box4 {
        margin: 30px 0 0 0;
    }

    footer .container .row-tc {
        margin: 35px 0 60px 0;
    }
}


@media (max-width: 549px) {
    .guides {
        height: 890px;
    }

    .news-update {
        height: 2825px;
    }

    .star {
        height: 450px;
    }

    .news-update .subscribe .content {
        transform: scale(0.8);
    }
}


@media (max-width: 542px) {
    .guides {
        height: 910px;
    }
}



@media (max-width: 495px) {
    .guides {
        height: 890px;
    }

    .news-update {
        height: 2790px;
    }

    .guides .container .video-content .part2 .text .text1 {
        margin: 70px 0 0 0;
    }

    .guides .container .video-content .part2 {
        margin: 40px 0 0 0;
    }
}


@media (max-width: 482px) {
    .news-update .subscribe .content {
        transform: scale(0.7);
    }
}


@media (max-width: 478px) {
    footer {
        height: 1100px;
    }
}


@media (max-width: 471px) {
    .get-started .container .heading p {
        padding: 0 10px;
    }

    .guides {
        height: 870px;
    }

    .guides .container .planning .text h3 {
        padding: 0 10px;
    }

    .news-update .container .part2 .text-box h3 {
        padding: 0 10px;
    }

    .news-update .img-box .box .text-box h3 {
        padding: 0 10px;
    }

    .quiz {
        height: 1110px;
    }

    .guides .container .video-content .part2 .text .text1 {
        margin: 50px 0 0 0;
    }

    .recipes .container .main-box .card .image img {
        padding: 0 10px;
    }

    .news-update .container .image {
        padding: 0 10px;
    }

    .news-update .container .part1 .image {
        padding: 0 10px;
    }

    footer .container .row-tc .text p {
        padding: 0 10px;
    }
}



@media (max-width: 447px) {
    .guides {
        height: 875px;
    }
}



@media (max-width: 428px) {
    .star {
        height: 480px;
    }

    .guides {
        height: 850px;
    }

    .guides .container .video-content .part2 .text .text1 {
        margin: 40px 0 0 0;
    }

    .guides .container .video-content .part2 {
        margin: 10px 0 0 0;
    }

    .news-update .subscribe .content {
        transform: scale(0.6);
    }
}



@media (max-width: 384px) {
    .guides {
        height: 840px;
    }

    .news-update {
        height: 2760px;
    }

    .guides .container .video-content .part2 .text .text1 {
        margin: 30px 0 0 0;
    }
}


@media (max-width: 379px) {
    .guides {
        height: 855px;
    }
}


@media (max-width: 361px) {
    .star {
        height: 510px;
    }

    .guides {
        height: 840px;
    }

    .guides .container .video-content .part2 .text .text1 {
        margin: 20px 0 0 0;
    }

    .guides .container .video-content .part1 {
        height: 280px;
    }
}



@media (max-width: 349px) {
    .guides {
        height: 870px;
    }
}



@media (max-width: 345px) {
    .guides {
        height: 860px;
    }

    .guides .container .video-content .part1 {
        height: 260px;
    }

    .star {
        height: 540px;
    }
}



@media (max-width: 320px) {
    .news-update {
        height: 2720px;
    }

    .guides {
        height: 830px;
    }

    .guides .container .video-content .part2 .text .text1 {
        margin: 0px 0 0 0;
    }

    .quiz {
        height: 1130px;
    }

    footer {
        height: 1130px;
    }
}

/* ---- Media Start ---- */