/* ---- Css Reset Start ---- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ---- Css Reset End ---- */















/* ---- Variable Start ---- */
:root {
    --textcolor: #19406a;
    --green: #64c147;
    --rubik: 'Rubik', sans-serif;
    --robot: 'Roboto', sans-serif;
    --anerair-bold: 'Anerair-Bold', sans-serif;
    --anerair-black: 'Anerair-Black', sans-serif;
}

/* ---- Variable End ---- */







@font-face {
    font-family: Anerair-Bold;
    src: url('../fonts/Metropolis/Metropolis-Bold.otf');
}

@font-face {
    font-family: Anerair-Black;
    src: url('../fonts/Metropolis/Metropolis-Black.otf');
}







/* ---- Global Css Start ---- */
a {
    text-decoration: none;
}

/* ---- Global Css End ---- */















/* ---- Header Start ---- */
.navs {
    width: 100%;
    height: 90px;
    background-color: #fff;
}

.navs .container {
    height: 90px;
    /* margin: auto; */
    padding: 0;
}

.navs .container .navbar {
    background-color: #fff;
    height: 90px;
}

.navs .container .navbar .container-fluid {
    padding: 0;
}

.navs .container .collapse {
    text-align: center;
    margin: 8px 0;
}

.navs .container .collapse ul li a {
    color: var(--textcolor);
    padding: 10px 12px;
    font-family: var(--rubik);
    font-weight: 400;
}

.navs .container .collapse ul li .button {

    margin: 0 13px;
    /* padding: 14px 28px; */
}

.navs .container .collapse ul li .button a {
    font-family: var(--rubik);
    font-weight: 500;
    color: white;
    padding: 10px 28px;
    border-radius: 30px;
    background-color: #64c147;
    transition: all 0.5s ease-in-out;
}

.navs .container .collapse ul li .button a:hover {
    background-color: var(--textcolor);
    color: #fff;
}



.navs .container .collapse ul li a i {
    color: var(--textcolor);
}

/* ---- Header End ---- */















/* ---- Hero Section Start ---- */
.hero {
    overflow: hidden;
    width: 100%;
    height: 441px;
    background-color: #f0f3f4;
}

.hero .container .part1 {
    padding: 0;
}

.hero .container .part1 {
    height: 386px;
    display: flex;
    align-items: center;
}

.hero .container .part1 .text h2 {
    color: var(--textcolor);
    line-height: 40px;
    font-size: 37px;
    font-family: sans-serif;
    font-weight: bold;
}

.hero .container .part1 .text p {
    color: var(--textcolor);
    margin: 30px 0;
    font-size: 19px;
    line-height: 22px;
    font-family: sans-serif;
}

.hero .container .part1 .text .button {
    margin: 54px 0 0 0;
}

.hero .container .part1 .text .button a {
    color: #fff;
    background-color: var(--textcolor);
    padding: 16px 30px;
    border-radius: 30px;
    font-size: 18px;
    font-family: var(--rubik);
    font-weight: 500;
    transition: all 0.5s ease-in-out;
}

.hero .container .part1 .text .button a:hover {
    background-color: var(--green);
}

/* ---- Hero Section End ---- */















/* ---- Get Started Stat ---- */
.get-started {
    overflow: hidden;
    height: 363px;
}

.get-started .container .heading {
    margin: 76px 0 0 0;
    padding: 0;
}

.get-started .container .heading h2 {
    color: var(--textcolor);
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
}

.get-started .container .heading p {
    color: var(--textcolor);
    margin: 10px 0;
    font-size: 18px;
    font-family: var(--rubik);
    font-weight: 400;
}

.get-started .container .row .box .card {
    height: 200px;
    display: grid;
    place-items: center;
    border: none;
}

.get-started .container .row .box .card .content {
    display: grid;
    place-items: center;
}

.get-started .container .row .box .card .content .image {
    display: flex;
    justify-content: center;
}

.get-started .container .row .box .card .content .image img {
    margin: 15px 0 0 0;
}

.get-started .container .row .box .card .content p {
    color: var(--textcolor);
    font-size: 18px;
    font-family: var(--rubik);
    font-weight: 500;
    line-height: 25px;
    margin: 16px 0;
    text-align: center;
}

.get-started .container .box-1 .card .content .image {
    margin: 25px 0 0 0;
}

/* ---- Get Started End ---- */















/* ---- Guides Start ---- */
.guides {
    overflow: hidden;
    height: 825px;
    background-color: #eef8fd;
}

.guides .container {
    padding: 0;
}

.guides .container .heading {
    margin: 60px 0 15px 0;
}

.guides .container .heading h4 {
    color: var(--textcolor);
    font-size: 24px;
    text-align: center;
    font-family: var(--anerair-bold);
}

.guides .container .line {
    background-color: #ffba00;
    height: 3px;
    width: 20px;
    margin: auto;
}

.guides .container .planning .text h3 {
    color: var(--textcolor);
    margin: 35px 0;
    text-align: center;
    font-size: 35px;
    font-family: var(--anerair-bold);
}


.guides .container .video-content .part1 .image {
    margin: 80px 0;
}

.guides .container .video-content .part1 .image img {
    padding: 0;
}

.guides .container .video-content .part2 {
    margin: 80px 0;
}

.guides .container .video-content .part2 .text {
    margin: 0 25px;
}

.guides .container .video-content .part2 .text .text1 {
    color: var(--textcolor);
    line-height: 28px;
    margin: 90px 0 0 0;
    font-size: 18px;
    font-family: var(--rubik);
    font-weight: 400;
}

.guides .container .video-content .part2 .text .text2 {
    color: var(--textcolor);
    margin: 50px 0 0 0;
    font-size: 18px;
    font-family: var(--rubik);
    font-weight: 400;
}

.guides .container .video-content .part2 .text .text3 {
    color: var(--textcolor);
    margin: 40px 0 0 0;
    font-size: 18px;
    font-family: var(--rubik);
    font-weight: 400;
}

/* ---- Guides End ---- */















/* ---- News & Update Start ---- */
.news-update {
    overflow: hidden;
    height: 1478px;
    background-color: #fff;
}

.news-update .container {
    padding: 0;
}

.news-update .container .heading {
    margin: 60px 0 15px 0;
}

.news-update .container .heading h4 {
    color: var(--textcolor);
    font-size: 24px;
    text-align: center;
    font-family: var(--anerair-bold);
}

.news-update .container .line {
    background-color: #ffba00;
    height: 3px;
    width: 20px;
    margin: auto;
}

.news-update .container .part1 {
    margin: 40px 0;
}

.news-update .container .part2 {
    margin: 40px 0;
    padding: 40px 25px;
}

.news-update .container .part2 .text-box .txt1 {
    color: var(--textcolor);
    font-size: 16px;
    font-weight: 500;
    font-family: var(--rubik);
}

.news-update .container .part2 .text-box .txt1 span {
    font-weight: 800;
}

.news-update .container .part2 .text-box h3 {
    margin: 30px 0;
    color: var(--textcolor);
    line-height: 35px;
    font-size: 30px;
    font-family: var(--anerair-bold);
}

.news-update .container .part2 .text-box .txt2 {
    color: #99a4b4;
    line-height: 25px;
    font-size: 18px;
    font-family: var(--rubik);
    font-weight: 400;

}

.news-update .container .part2 .text-box .button {
    margin: 30px 0 0 0;
}

.news-update .container .part2 .text-box .button a {
    color: var(--textcolor);
    font-size: 16px;
    font-family: var(--rubik);
    font-weight: 500;
}

.news-update .img-box .box .image {
    margin: 15px 0;
}

.news-update .img-box .box .text-box .txt1 {
    margin: 26px 0 0 0;
    color: var(--textcolor);
    font-size: 16px;
    font-weight: 400;
    font-family: var(--rubik);
}

.news-update .img-box .box .text-box .txt1 span {
    font-weight: 700;
}

.news-update .img-box .box .text-box h3 {
    margin: 20px 0 25px 0;
    color: var(--textcolor);
    line-height: 30px;
    font-size: 24px;
    font-family: var(--anerair-bold);
}

.news-update .img-box .box .text-box .txt2 {
    color: #99a4b4;
    line-height: 20px;
    font-size: 18px;
    font-family: var(--rubik);
    font-weight: 400;

}

.news-update .img-box .box .text-box .button {
    margin: 25px 0 0 0;
}

.news-update .img-box .box .text-box .button a {
    color: var(--textcolor);
    font-size: 18px;
    font-family: var(--rubik);
    font-weight: 500;
}

.news-update .subscribe .heading {
    margin: 60px 0 15px 0;
}

.news-update .subscribe .heading h4 {
    color: var(--textcolor);
    font-size: 24px;
    text-align: center;
    font-family: var(--anerair-bold);
}

.news-update .subscribe .line {
    background-color: #ffba00;
    height: 3px;
    width: 20px;
    margin: auto;
}

.news-update .subscribe .text p {
    color: var(--textcolor);
    margin: 22px 0 0 0;
    text-align: center;
    font-size: 18px;
    font-family: var(--rubik);
    font-weight: 400;
}

.news-update .subscribe .content {
    display: flex;
    justify-content: center;
}

.news-update .subscribe .content .form {
    display: flex;
}

.news-update .subscribe .content .form .search {
    display: flex;
    margin: 50px 40px 0 0;
    border-radius: 30px;
    box-shadow: 0 4px 12px #00000017;
}

.news-update .subscribe .content .form .search img {
    border: 2px solid #d9e2ec;
    border-right: none;
    background-color: #fff;
    padding: 15px 0 15px 25px;
    border-radius: 30px 0 0 30px;
}

.news-update .subscribe .content .form .search input[type=search] {
    border: 2px solid #d9e2ec;
    border-left: none;
    width: 400px;
    background-color: #fff;
    padding: 15px 15px;
    border-radius: 0 30px 30px 0;
}

.news-update .subscribe .content .form .button button {
    color: #fff;
    background-color: var(--textcolor);
    margin: 50px 0 0 0;
    padding: 18px 30px;
    font-size: 18px;
    font-family: var(--rubik);
    font-weight: 500;
    border: none;
    border-radius: 30px;
    transition: all 0.5s ease-in-out;
}

.news-update .subscribe .content .form .button button:hover {
    background-color: var(--green);
}

/* ---- News & Update End ---- */















/* ---- Recipes Start ---- */
.recipes {
    overflow: hidden;
    height: 633px;
    background-color: #eef8fd;
}

.recipes .container .heading {
    margin: 60px 0 15px 0;
}

.recipes .container .heading h4 {
    color: var(--textcolor);
    font-size: 24px;
    text-align: center;
    font-family: var(--anerair-bold);
}

.recipes .container .line {
    background-color: #ffba00;
    height: 3px;
    width: 20px;
    margin: auto;
}

.recipes .container {
    padding: 0;
}

.recipes .container .main-box {
    margin: 40px 0;
}

.recipes .container .main-box .card {
    height: 360px;
    background-color: #fff;
    border: none;
}

.recipes .container .main-box .card .image img {
    width: 100%;
}

.recipes .container .main-box .card .text {
    word-spacing: -1px;
    letter-spacing: 0px;
    padding: 15px 20px;
}

.recipes .container .main-box .card .text .txt1 {
    color: var(--textcolor);
    font-size: 18px;
    font-family: var(--anerair-bold);
}

.recipes .container .main-box .card .text .txt2 {
    color: var(--textcolor);
    margin: 15px 0;
    font-size: 16px;
    font-family: var(--rubik);
    font-weight: 500;
}

.recipes .container .more {
    margin: 15px 0;
    text-align: center;
}

.recipes .container .more a {
    color: var(--textcolor);
    font-size: 16px;
    font-family: var(--rubik);
    font-weight: 500;
}

/* ---- Recipes End ---- */















/* ---- Star Raiting Start ---- */
.star {
    overflow: hidden;
    height: 422px;
    background-color: #fff;
}

.star .image {
    display: flex;
    justify-content: center;
    margin: 70px 0 0 0;
}

.star .text {
    padding: 40px 180px 0 180px;
}

.star .text p {
    color: var(--textcolor);
    text-align: center;
    line-height: 25px;
    font-size: 18px;
    font-family: var(--rubik);
    font-weight: 400;
}

.star .text h5 {
    color: var(--textcolor);
    margin: 30px 0 0 0;
    text-align: center;
    font-size: 18px;
    font-family: var(--rubik);
    font-weight: 500;
}

.star .icon {
    margin: 15px 0 0 0;
    display: flex;
    justify-content: center;
}

/* ---- Star Raiting End ---- */















/* ---- Media Start ---- */
@media (max-width: 1199px) {
    .news-update .container .part2 {
        padding: 10px 10px;
    }

    .recipes {
        height: 600px;
    }

    .recipes .container .main-box .card {
        height: 320px;
    }

    .star .text {
        padding: 40px 100px 0 100px;
    }
}


@media (max-width: 991px) {
    .hero .container .part1 {
        text-align: center;
        justify-content: center;
    }

    .hero .container .part2 {
        display: none;
    }

    .guides {
        height: 1000px;
    }

    .get-started .container .heading {
        text-align: center;
    }

    .guides .container .video-content .part1 {
        height: 350px;
        display: flex;
        justify-content: center;
    }

    .guides .container .video-content .part2 {
        display: flex;
        justify-content: center;
    }

    .news-update {
        height: 2750px;
    }

    .news-update .container .part1 {
        display: flex;
        justify-content: center;
    }

    .news-update .container .part2 {
        text-align: center;
    }

    .news-update .subscribe .content .form {
        display: block;
        justify-content: center;
    }

    .news-update .subscribe .content .form .button {
        display: flex;
        justify-content: center;
    }

    .news-update .subscribe .content .form .button button {
        margin: 15px auto 0 auto;
    }

    .news-update .container .img-box .box {
        text-align: center;
    }

    .news-update .container .img-box .box .image {
        display: flex;
        justify-content: center;
    }

    .news-update .subscribe .content .form .search {
        margin: 50px 0 0 0;
    }

    .news-update .subscribe .content {
        transform: scale(0.8);
    }

    .recipes {
        height: 550px;
    }

    .recipes .container .main-box .card {
        height: 280px;
    }

    .star .text {
        padding: 40px 50px 0 50px;
    }
}




@media (max-width: 767px) {
    .get-started {
        height: 770px;
    }

    .news-update {
        height: 2825px;
    }

    .news-update .subscribe .content {
        transform: scale(0.6);
    }

    .recipes {
        height: 1400px;
    }

    .recipes .container .main-box .card {
        background-color: #eef8fd;
        height: 320px;
    }

    .recipes .container .main-box .card .image {
        display: flex;
        justify-content: center;
    }

    .recipes .container .main-box .card .image img {
        width: auto;
    }

    .recipes .container .main-box .card .text {
        text-align: center;
    }

    .star .text {
        padding: 40px 0px 0 0px;
    }
}



@media (max-width: 575px) {
    .get-started {
        height: 1360px;
    }
}


@media (max-width: 549px) {
    .guides {
        height: 1030px;
    }

    .news-update {
        height: 2825px;
    }
}



@media (max-width: 549px) {
    .star {
        height: 450px;
    }
}



@media (max-width: 495px) {
    .guides {
        height: 1060px;
    }

    .news-update {
        height: 2790px;
    }
}


@media (max-width: 428px) {
    .star {
        height: 480px;
    }
}



@media (max-width: 384px) {
    .guides {
        height: 1110px;
    }

    .news-update {
        height: 2760px;
    }
}


@media (max-width: 361px) {
    .star {
        height: 510px;
    }
}



@media (max-width: 320px) {
    .news-update {
        height: 2720px;
    }
}

/* ---- Media Start ---- */